USE [master]
GO
/****** Object:  Database [ex]    Script Date: 04/11/2018 15:44:19 ******/
CREATE DATABASE [ex] ON  PRIMARY 
( NAME = N'ex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ex.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ex_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ex]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[teacher](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[tname] [nvarchar](50) NOT NULL,
	[tsex] [char](2) NOT NULL,
	[tbirthday] [date] NULL,
	[teducation] [nvarchar](50) NULL,
	[tphone] [nvarchar](20) NOT NULL,
	[tgangwei] [nvarchar](50) NOT NULL,
	[loginuser] [nvarchar](20) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[tbeizhu] [nvarchar](100) NULL,
	[jid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subject]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subject](
	[suId] [int] IDENTITY(1,1) NOT NULL,
	[sudirec] [varchar](20) NOT NULL,
	[sustage] [varchar](20) NOT NULL,
	[suName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[suId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](50) NOT NULL,
	[loginuser] [nvarchar](20) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[ssex] [char](2) NOT NULL,
	[sbirthday] [date] NULL,
	[sphone] [nvarchar](20) NULL,
	[sclass] [int] NULL,
	[sidcard] [varchar](18) NULL,
	[jid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[question]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[question](
	[qId] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[content] [varchar](100) NOT NULL,
	[optionA] [varchar](50) NOT NULL,
	[optionB] [varchar](50) NOT NULL,
	[optionC] [varchar](50) NOT NULL,
	[optionD] [varchar](50) NOT NULL,
	[hard] [varchar](20) NOT NULL,
	[charpter] [varchar](20) NOT NULL,
	[answer] [varchar](20) NOT NULL,
	[suid] [int] NOT NULL,
	[stype] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[qId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[paperinfo]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paperinfo](
	[pIId] [int] IDENTITY(1,1) NOT NULL,
	[qId] [int] NOT NULL,
	[pId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pIId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paper]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[paper](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[pType] [varchar](30) NOT NULL,
	[suname] [varchar](20) NOT NULL,
	[pTitle] [varchar](50) NOT NULL,
	[pTotal] [float] NOT NULL,
	[pTime] [int] NOT NULL,
	[pTotalNum] [int] NOT NULL,
	[pOne] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[juese]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juese](
	[jid] [int] IDENTITY(1,1) NOT NULL,
	[jname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[jid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adminuser]    Script Date: 04/11/2018 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminuser](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[loginuser] [nvarchar](20) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[jid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
